<p id="notice"><%= notice %></p>

<h1>People you follow </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Img url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followings.each do |following| %>
      <tr>
        <td><%= following.name %></td>
        <td><%= following.img_url %></td>
        <td>
          <form action="<% user_followers_path %>" method="post">
            <button type="submit"></button>
          </form>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
