<ul style="width: 300px;" class="side-nav fixed show">
  <li>
    <div class="userView">
      <div class="background">
          <!--<img src="http://lorempicsum.com/nemo/350/200/1">-->
      </div>
      <a href="#!user"><%= image_tag(@user.img_url, class:'circle') %></a>
      <a href="#!name"><span class="white-text name"><%= @user.name %></span></a>
    </div>
  </li>
  <div class="collection">
    <a href="#!" class="collection-item"><span class="badge"><%= @user.followers.count %></span>Followers</a>
    <a href="#!" class="collection-item waves-effect"><span class="badge"><%= @user.followings.size %></span>Followings</a>
  </div>
</ul>

