// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$textColor: #272727;

.users{
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap;

  a{
    text-decoration: none;
  }

  .user{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: $textColor;

    &:hover{
      cursor: pointer;
    }

    .buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      width: 50%;
      a{
        i.fa-trash{
          &:hover{
            color: #98373e;
          }
        }
        i.fa-edit{
          &:hover{
            color: #00b398;
          }
        }
      }
    }

    .placeholder{
      position: relative;
      bottom: 50px;

      &:before {
        text-align: center;
        vertical-align: middle;
        content: "\f234";
        font-family: FontAwesome;
        font-size: 5.0rem;
        width: 200px;
        height: 200px;
        line-height: 200px;
        color: #707070;
        border-radius: 50%;
        border: #777 solid 2px;
        padding: 38px;
        opacity: 0.7;
        overflow: hidden;
        -moz-transition: -moz-transform, ease 0.5s;
        -o-transition: -o-transform, ease 0.5s;
        -webkit-transition: -webkit-transform, ease 0.5s;
        transition: transform, ease 0.5s;
      }

      &:hover{
        &:before{
          opacity: 1;
          box-shadow: 0 0 10px black;
        }
      }
    }

    img{
      display: block;
      margin: 0 auto;
      width: 50%;
      opacity: 0.9;
      border: black 4px solid;
      cursor: pointer;
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
      overflow: hidden;
      -moz-transition: -moz-transform, ease 0.5s;
      -o-transition: -o-transform, ease 0.5s;
      -webkit-transition: -webkit-transform, ease 0.5s;
      transition: transform, ease 0.5s;

      &:hover{
        opacity: 1;
        box-shadow: 0 0 20px black;
      }
    }
  }
}

.side-nav{
  transform: translateX(0%) !important;

  span.badge {
    margin: 0!important;
  }

  .userView{
    .name{
      margin: 0!important;
      padding: 8px 0!important;
    }
  }
}

